<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=8df0352869c89a14e3eedc2ffc05f487"></script>
  <title>团猿-后台管理系统</title>
  <% if (process.env.NODE_ENV === 'production') { %>
    <!-- 生产环境 -->
    <script>document.write('<script src="./config/index.js?t=' + new Date().getTime() + '"><\/script>');</script>
    <link rel="shortcut icon" type="image/x-icon" href="./static/img/logo_small.png">
  <% }else { %>
    <!-- 开发环境 -->
    <link rel="shortcut icon" type="image/x-icon" href="./static/img/logo_small.png">
    <script src="./static/config/index.js"></script>
    <script src="./static/plugins/mock-1.0.0-beta3/mock-min.js"></script>
  <script src="./static/plugins/echarts-3.8.5/echarts.common.min.js"></script>
  <% } %>
</head>
<body style="overflow-y: hidden">
  <div id="app"></div>
  
</body>
</html>
